<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<f:metadata>
	<f:viewParam id="id" name="id" value="#{testView.testClass.id}" />
</f:metadata>

<h:form>

	<h:commandButton>
		<f:ajax execute="@form"  />
	</h:commandButton>

	<h:selectOneMenu value="#{testView.testClass}">
		<f:selectItem itemValue="null" itemLabel="Sel. classe" />
		<f:selectItems value="#{testView.testClasses}" var="cl"
			itemValue="#{cl}" itemLabel="#{cl.id}" />
	</h:selectOneMenu>

</h:form>

</html>